<ion-header>
  <ion-toolbar class="modal_header">
    
    <ion-buttons>
      <ion-button style="color: white;" class="close_btn" (click)="BackBtn()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label class="modal_title" slot="end">
      Medical Records
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="status_row">
    <div class="single_status">
      <div class="status_bullet green_bullet"></div>
      Healthy
    </div>
    <div class="single_status">
      <div class="status_bullet red_bullet"></div>
      At Risk
    </div>
    <div class="single_status">
      <div class="status_bullet blue_bullet"></div>
      Under Treatment
    </div>
  </div>

  <div class="profile_information">
    <div class="single_pro_infor">
      <div class="pro_icon">
        <img src="../../assets/images/download-removebg-preview (3).png" alt="">
      </div>
      <div class="main_pro_infor">
        <div class="title green_text">
          Current Status <div class="status_bullet green_bullet"></div>
        </div>
        <!-- <div class="number_of_counts">
          22/33/2024
        </div> -->
      </div>
    </div>
    <div class="single_pro_infor">
      <div class="pro_icon">
        <img src="../../assets/images/69604-removebg-preview.png" alt="">
      </div>
      <div class="main_pro_infor">
        <div class="title green_text">
          Last Checkup Date
        </div>
        <div class="number_of_counts green_text">
          2/3/2024
        </div>
      </div>
    </div>
 
  </div>

  <div class="main_key_events">
    <div class="key_events_title">
      <ion-icon name="list-outline"></ion-icon>
      Key Events
    </div>
    <div class="key_event_detail">
      <ul>
        <div class="vaccination_row">

        <div class="single_li">
          <li>Vaccinations, etc</li>
          <ion-label>22/21/2024</ion-label>
        </div>
        <div class="short_detail">
          Short Detail
        </div>
      </div>
        <div class="vaccination_row">

        <div class="single_li">
          <li>Vaccinations, etc</li>
          <ion-label>22/21/2024</ion-label>
        </div>
        <div class="short_detail">
          Short Detail
        </div>
      </div>

      <div class="add_icon" id="open-modal">
        <ion-icon name="add-outline"></ion-icon>
      </div>

        

        
      </ul>
    </div>
  </div>

  <!-- <div class="profile_information"> -->
    <div class="single_pro_infor">
      <div class="pro_icon">
        <img src="../../assets/images/danger.png" alt="">
      </div>
      <div class="main_pro_infor">
        <div class="title green_text">
          Precautions
        </div>
        <div class="number_of_counts green_text">
          Updates precautions on every health
checkup
        </div>
      </div>
    <!-- </div> -->
  
 
  </div>


</ion-content>
<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content class="main_modal_content">
      <ion-toolbar class="main_header_of_modal">
        <ion-title class="main_modal_title green_text">Add Event(s)</ion-title>
        <ion-buttons slot="end">
          <ion-button color="dark" class="close_icon" (click)="modal.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="main_add_form">
        <div class="form_group">
            <ion-label class="green_text">Enter Event Name</ion-label>
            <ion-input placeholder="Vaccination, etc"></ion-input>
        </div>
        <div class="form_group">
            <ion-label class="green_text">Date</ion-label>
            <p> <i>Enter the date when the event occured</i></p>
            <ion-input type="date"></ion-input>
        </div>

        <div class="save_btn" (click)="modal.dismiss()">
          <ion-button>Save</ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>