<ion-content class="main_login_container">
  <div id="container">
    
    
  
      <ion-card class="login_form">
        <ion-card-content>
          <div class="logo">

            <img src="../../assets/images/logo.png" alt="" >
          </div>

          <h1 class="card_title green_text">

            Create a New Account
          </h1>
          <div class="message" >
            Already Registered? <span routerLink="/login">Login here</span>
          </div>
          

          <ion-label class="form-label green_text">
            Farmer's Name
          </ion-label>
          <ion-input placeholder="Enter Farmer's Name"  id="user-input"  class="user-input"></ion-input>
          <ion-label class="form-label green_text">
            Email
          </ion-label>
          <ion-input placeholder="Enter Email"  id="user-input"  class="user-input"></ion-input>
           <ion-label class="form-label green_text">
            Password
          </ion-label>
          <ion-input placeholder="Enter Password" type="password" id="user-password" class="user-input"></ion-input>
          
          <!-- <ion-label class="forgot_btn">
            Forgot Password?
          </ion-label>  -->
          
          <ion-button  expand="block" id="set-btn" class="login-btn" shape="round" routerLink="/home">
            <ion-icon name="log-in-outline" class="login-icon" ></ion-icon>
            <ion-label>
  
              Sign Up
            </ion-label>
          </ion-button>

         
  
  
        
  
          
  
  
        </ion-card-content>
      </ion-card>
    


   </div>
</ion-content>


