<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="single_options" >
      <ion-icon name="train-outline"></ion-icon>
      Application Training
    </div>
    <div class="single_options" routerLink="/questionnaire">
      <ion-icon name="help-circle-outline"></ion-icon>
      Questionnaires Guide
    </div>
    <div class="single_options" routerLink="/settings">
      <ion-icon name="settings-outline"></ion-icon>
      Settings
    </div>
    <div class="single_options" >
      <ion-icon name="information-circle-outline"></ion-icon>
      About Us
    </div>
    <div class="single_options" >
      <ion-icon name="help-circle-outline"></ion-icon>
      Help
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="my_main_header_tag">
    <ion-toolbar class="header_toolbar">
      <div class="main_header">

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="user_icon" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content > 
    
    <div class="main_hero_section">

      <div class="main_title">
        Hello Farmer!
    </div>
    <div class="cow_qty">
      <img src="../../assets/images/cow-removebg-preview.png" alt="">
      200 Animals
    </div>
    <div class="main_search_bar">
      <div class="search_bar_input">
        <ion-input></ion-input>
      </div>
      <div class="search_bar_icon">
        
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>
  </div>
 

  <div class="main_cow_list">
    <div class="single_cow_list" routerLink="/cow-detail">
      <div class="left_cow_sec">

      <div class="number_of_cow">
        1
      </div>
      <div class="main_cow_name_and_gender">
        <div class="cow_name">
          Holstein
        </div>
        <div class="gender">
          Male
        </div>
        
      </div>
    </div>
    <div class="right_cow_section">

      <div class="right_arrow">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    </div>
    <div class="single_cow_list" routerLink="/cow-detail">
      <div class="left_cow_sec">

      <div class="number_of_cow">
        2
      </div>
      <div class="main_cow_name_and_gender">
        <div class="cow_name">
          Jersey
        </div>
        <div class="gender">
          Female
        </div>
        
      </div>
    </div>
    <div class="right_cow_section">

      <div class="right_arrow">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    </div>
    <div class="single_cow_list" routerLink="/cow-detail">
      <div class="left_cow_sec">

      <div class="number_of_cow">
        3
      </div>
      <div class="main_cow_name_and_gender">
        <div class="cow_name">
          Brown Swiss
        </div>
        <div class="gender">
          Male
        </div>
        
      </div>
    </div>
    <div class="right_cow_section">

      <div class="right_arrow">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    </div>
    <div class="single_cow_list" routerLink="/cow-detail">
      <div class="left_cow_sec">

      <div class="number_of_cow">
        4
      </div>
      <div class="main_cow_name_and_gender">
        <div class="cow_name">
          Guernsey
        </div>
        <div class="gender">
          Male
        </div>
        
      </div>
    </div>
    <div class="right_cow_section">

      <div class="right_arrow">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    </div>
    <div class="single_cow_list" routerLink="/cow-detail">
      <div class="left_cow_sec">

      <div class="number_of_cow">
        5
      </div>
      <div class="main_cow_name_and_gender">
        <div class="cow_name">
          Hereford
        </div>
        <div class="gender">
          Female
        </div>
        
      </div>
    </div>
    <div class="right_cow_section">

      <div class="right_arrow">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    </div>
  </div>
  <div class="add_cow" routerLink="/add-cow">
    <ion-icon name="add-outline"></ion-icon>
  </div>
   </ion-content>
</div>